.cart-container {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 380px;
    background-color: $dark-bg;
    transition: right 0.3s ease-in-out;

    .cart_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px 15px 20px;
        border-bottom: 1px solid $gray-lighter-bg;

        li {
            display: flex;
            align-items: center;
        }

        .cart_name {
            font-size: 20px;
            font-family: 'Roboto Regular';
            letter-spacing: 1px;
            color: $white;
            padding: 5px 0px 5px 0px;
        }

        .close_button {
            display: none;
        }
    }
}
