.sidebar-container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 270px;
    background-color: $header;
    transition: left 0.3s ease-in-out;
    border-right: 2px solid $button-quantity;
    box-shadow: 2px 2px 4px $button-quantity;

    &.open {
        left: 0;
    }

    .button-div {
        text-align: right;
    }

    button.close-button {
        background: none;
        border: none;
        font-size: 25px;
        cursor: pointer;
        padding: 17px 17px 15px 0px;
        color: $sidebar;

        &:hover {
            color: $dark-bg;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        ul {
            padding: 0;

            li {
                margin: 35px 0;
                font-size: 27px;

                a {
                    color: $sidebar;
                    font-family: 'Bebas Neue';
                    font-weight: 300;
                    text-decoration: none;
                    letter-spacing: 5px;

                    &:hover {
                        color: $dark-bg;
                    }

                    &.active {
                        color: $dark-bg;
                    }
                }
            }
        }
    }
}


/* -------------- MEDIA QUERIES (MEDIUM DEVICES) -------------- */
@media (max-width: $breakpoint-tablet) {
    .sidebar-container {
        width: 250px;

        button.close-button {
            padding: 30px 17px 15px 0px;
        }
    }
}

/* -------------- MEDIA QUERIES (SMALL DEVICES) -------------- */
@media (max-width: $breakpoint-phone) {
    .sidebar-container {
        width: 180px;

        button.close-button {
            font-size: 20px;
            padding: 12px 12px 15px 0px;
        }

        nav {
            ul {
                li {
                    margin: 35px 0;
                    font-size: 20px;

                    a {
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}
