@import '@/styles/index';

.food {
  padding: 80px 90px 0 90px;
  margin: 0;

  &-h2 {
    font-family: 'Roboto Thin';
    font-size: 20px;
  }

  &-recom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 15px 0;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }

  &-no-items {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Bold';
  }
}