@font-face {
    font-family: 'Internet Bold';
    src: url('@/assets/fonts/LTInternet-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Internet Regular';
    src: url('@/assets/fonts/LTInternet-Regular.ttf') format('truetype');
    font-display: swap;
}
