.courses {
  padding: 90px 20px 0 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  
  &_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: center;
  }

  p {
    font-size: 14px;
    font-weight: 600;
  }

  
}

@media (max-width: $breakpoint-tablet) {
  .courses {
    padding: 90px 50px 0 50px;
  }
}

@media (max-width: $breakpoint-phone) {
  .courses {
    padding: 90px 10px 0 10px;

    p {
      display: none;
    }
  }
}
