.food {
  padding: 0 90px 0 90px;
  margin: 0;

  &_h2 {
    font-family: 'Roboto Thin';
    font-size: 20px;
  }

  &_recom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 15px 0;
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  &_no_items {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Bold';
  }
}

.details {
  display: grid;
  justify-content: center;
  align-items: center;

  &_title {
    font-family: 'Roboto Light';
    font-size: 15px;
  }

  &_image {
    border-radius: 5%;
  }

  &_price {
    font-family: 'Roboto Bold';
  }
}

.slider_container {
  margin: 0 auto;

}

.view_all_btn {
  color: $button-pay;
  background: none;
  border: none;
  font-family: 'Roboto Bold';
  cursor: pointer;
  outline: inherit;
}

@media (max-width: $breakpoint-tablet) {
  .food {
    padding: 0 50px 0 50px;

    &_recom {
      padding: 0 50px 0 50px;
    }
  }

  .slider_container {
    max-width: 90%;
  }
}

@media (max-width: $breakpoint-phone) {
  .food {
    padding: 0 20px 0 20px;

    &_recom {
      padding: 0 20px 0 20px;
    }
  }

  .slider_container {
    max-width: 97%;
  }
}
