.menu_course {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
    font-size: 13px;
    border: none;
    padding: 15px 3.5px 15px 3.5px;
    margin: 20px 10px 10px 10px;
    border-radius: 32px;
    cursor: pointer;
    width: 125px;

    &:hover{
        background: $dashboard-menu;
        color: $button-pay;
    }

    &.active {
      background: $dashboard-menu;
      color: $button-pay;
    }

  }
  
.courses_icon {
  object-fit: cover;
  margin: 0 6px;
  height: 16px;
}

@media (max-width: $breakpoint-tablet) {
    .menu_course {
        width: 150px;
    }
  }
  
  @media (max-width: $breakpoint-phone) {
    .menu_course {
        width: 70px;
    }
  }
