@import '@/styles/index';

.menu {
    z-index: 1;
    background-color: $header;
    position: fixed;
    width: 100%;

    &_title {
        font-size: 22px;
        display: flex;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &_icon {
        color: #707070;
        font-size: 20px;
        cursor: pointer;
    }

    nav {
        padding: 0 90px 0 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3px;
        border-bottom: 1px solid $button-quantity;

        ul {
            display: flex;
            align-items: center;

            li {
                display: flex;
                margin: 20px 10px;
                font-family: 'Roboto Bold';

                a {
                    display: inline-block;
                }
            }
        }
    }
}

.form {
    position: relative;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: 20px;
    background: $white;
    border: 1px solid $button-quantity;

    button {
        border: none;
        background: none;
        color: #707070;
        margin-right: 10px;
        font-size: 17px;
    }

    .input {
        font-size: 0.9rem;
        background-color: none;
        border: none;
        border-color: transparent;

        &:focus {
            outline: none;
        }
    }
}

.cart-icon {
    font-size: 18px;
    color: #312F33;
    cursor: pointer;
}


/* -------------- MEDIA QUERIES (MEDIUM DEVICES) -------------- */
$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
    .menu {
        &_title {
            font-size: 20px;
            letter-spacing: 1px;
        }

        &_icon {
            font-size: 18px;
        }

        nav {
            padding: 10px 35px 10px 35px;
        }
    }

    .form {
        width: 180px;
        height: 35px;

        button {
            font-size: 15px;
        }
    }

    .cart-icon {
        font-size: 16px;
    }
}

/* -------------- MEDIA QUERIES (SMALL DEVICES) -------------- */
$breakpoint-phone: 600px;
@media (max-width: $breakpoint-phone) {
    .menu {
        &_title {
            font-size: 17px;
            letter-spacing: 1px;
        }

        &_icon {
            font-size: 15px;
        }

        nav {
            padding: 0 15px 0 15px;
        }
    }

    .form {
        display: none;

    }

    .cart-icon {
        font-size: 15px;
    }
}
