$header: #FBF9FA;
$sections: #FBF9FA;
$button-pay: #E52269;
$button-quantity: #F2F0F0;
$cart: #FDFBFC;
$white: #FFFFFF;
$sidebar: #7c7b7a;
$dashboard-menu: #F9E3EB;
$dark-bg: #262428;
$gray-bg: #2E2C30;
$gray-lighter-bg: #3F3D41;
$cart-btn-dark: #312F33;
$cart-btn-light: #3E3C40;
